
@charset "UTF-8";









/* SOCIAL-BAR ____________________________________________________________________________________________________________________________________________________________________________ */


/* SOCIAL-BAR */
div#bg-social-bar {
    box-sizing: border-box;
    width: calc(100% - 2em);
    max-width: 75em;
    padding: 0.1em;
    border-radius: var( --size-icons );
}

div#container-notes > p {
    text-indent: 1.5em;
    transform: scale(132%)
}

div#container-burge {
    display: none;
}

div#container-linso {
    display: flex;
}

nav > ul > li:nth-of-type(1) {
    padding-left: 1.3em;
    border-top-left-radius: var( --size-icons );
    border-bottom-left-radius: var( --size-icons );
}

nav > ul > li:nth-last-of-type(1) {
    padding-right: 1.3em;
    border-top-right-radius: var( --size-icons );
    border-bottom-right-radius: var( --size-icons );
}

nav > ul {
    flex-direction: row;
}

div#container-linso a {
    font-size: 1em;
}














/* HEADER __________________________________________________________________________________________________________________________________________________________________________________________ */


/* HEADER */
header {
    height: var(--Armazem--size-header-height-desktop);
    perspective: 1000px;
    position: relative;
    overflow: visible;
}







/*  TUDO ACIMA DESSA LINHA ESTÁ QUEBRADO  */







/* MAIN ____________________________________________________________________________________________________________________________________________________________________________________________ */


/* MAIN */
main {
    border-top: 2px solid #100000;
    background: var(--bg-main-gradient-effect-02);
    perspective: 10px;
}

    main > * {
        max-width: var( --size-max-wdith-content );
    }







div.bg-dark {
    background-color: var(--color-darkest-black-01);
    background-image: linear-gradient( 180deg, #040408, #000000 );
    box-shadow: 0em 0.5em 3em var(--color-darkest-black-02);
}







div#apres * {
    text-align: left;
}

div#apres {
    flex-direction: row;
    border-top: 2px solid var(--color-medium-black-02);
    border-bottom: 2px solid var(--color-medium-black-02);
}

    div#apres > div {
        width: 100%;
        max-width: 18.5em;
    }

    div#apres h1 {
        font-size: 1.85em;
    }
