@charset "UTF-8";

/* TELAS DESKTOP */






div#container-social-items {  /* Container Social */

 margin: 0em 5vw;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 border-radius: 24px;
 background-color: #00000080;
 box-shadow: 0em 0.5em 1.25em #000000c0;
} div#header-container-menwai {
 align-items: center;
}


div#container-menu {  /* Menu Burger */
  display: none;
}
  
  
  

div#header-container-links {

  min-width: 40%;
  max-width: calc(100% - 3em);
  display: flex;
} nav#links-sociais > ul {
  padding: 0em 2vw;
  gap: 1vw;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #000000d0;
  box-shadow: 0em 0em 8px #000000d0;
  border-radius: 24px;
} ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
} ul > li > a {
  transition-duration: 0.25s;
  padding: 0.5vw 0vw;
  margin:  0em 1vw;
  font-size: 1.1em;
} ul > li > a:hover {
 border-left: 1.5px solid #880808e8;
 border-right: 1.5px solid #880808e8;
 border-radius: 10%;
 padding: 0.5vw 1vw;
 margin: 0em;
 text-shadow: 0em 0em 0.35em #880808e8;
}











main {
  padding-left: 6vw;
  padding-right: 6vw;
} main > h2:nth-of-type(1) {
  margin-top: 1em;
}main > h2 {
  border-bottom: 1.5px solid var(--cor-grey-note-02);
}




section.conteudo {
  gap: 2em;
}













section.conteudo  {  /* HTML CSS, Artes & Outros */
  flex-direction: row;
} section.conteudo > * {
  height: 16em;
}



section#art-study {  /* ARTES */
  gap: 0em;
} section#art-study > * {
  border-radius: 1em 2.5em;
} section#art-study > div > div > a {
  display: none;
}


section#art-study > div:nth-of-type(1) {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
} section#art-study > div:nth-of-type(2) {
  display: block;
  width: 6em;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  background: none #000000;
}






div.notes {
  gap: 1px;
  padding: 1em 0em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
