@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

/* TELAS PEQUENAS */



:root {
  --barso-height: calc(48px + 1vw);

  --red-padrao: #800000;

  --fontean: 'Amatic SC', cursive;
}


* {  /*  CSS Padrão Geral */
  padding: 0em; margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
} body, html {
  width: 100vw; height: 100vh;
  background-color: #050505;
  overflow-x: hidden;
} body {
  perspective: 10px;
  position: relative;
} body::-webkit-scrollbar {  /* Scroll Geral */
  width: 8px; background-color: #00000000;
} body::-webkit-scrollbar-thumb {  /* Mover Scroll */
  background-color: #050505; border: 1px solid #000000;
  border-radius: 4px;
} body::-webkit-scrollbar-track {  /* Fundo Scroll */
  width: 4px; background-color: #050505;
  border-radius: 4px; margin: 10px 0em;
} body::-webkit-scrollbar-track:hover {
  background-color: #200000;
}
















header {  /* Header, Main e Footer */

  width: 100%; height: calc(100vh - 6.4em);
  position: relative;
  transform-style: preserve-3d;
  z-index: -10;
} main {
  width: 100vw; height: 100em;
  position: relative;
  top: calc(0em - var(--barso-height));
  transform-style: preserve-3d;
  z-index: +5;
  box-sizing: border-box;
  padding: 1em 5vw;
  padding-top: var(--barso-height);
  background-color: #050505;
} footer {
  width: 100%;
  padding: 1em 24px;
  box-sizing: border-box;
  padding-top: calc(48px + 2em);
  background-color: #050505;
 }
















img#bg-night {  /* Header Fundo Shadow */

  width: 100%; height: 100%;
  position: absolute;
  left: 50%; top: calc(50% - 2.25em);
  transform: translate( -50% , -50% ) translateZ(-10px) scale(2.00001);
  object-fit: cover;
  z-index: -10;
} div#bg-shadow {  /* Header Efeito Shadow */
  width: 100%; height: 100%;
  box-shadow: inset 0em 0em 6.4em #050505;
  background-image:
  linear-gradient(
   180deg ,
   #000000 00% ,
   #00000000 20% ,
   #0000007f 65% ,
   #000000bc 75% ,
   #010101d5 80% ,
   #020202e5 85% ,
   #030303f5 90% ,
   #040404f5 95% ,
   #050505 100% );
}






section#header-titulo {  /* Zona LA */
  
  width: 100%; height: 100%;
  position: absolute;
  left: 50%; top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50% , -50%);
} div#container-titu-lesro {
  width: 100%; height: 16vh;
  position: absolute;
  top: 20vh;
} div#titu-lesro {
  width: 90%;
  height: 100%;
  margin: auto;
} div#lesro {
  width: 32vh; height: 100%;
  position: relative;
} img#titu-la-img {
  width: 100%; height: 100%;
  position: absolute;
  transform: translateZ(-10px) scale(1);
  object-fit: fill;
}
















section#barra-social {  /* Barra Social */

 width: 100%; height: 48px;
 position: sticky;
 transform-style: preserve-3d;
 top: 1vw;
 z-index: +10;
 display: unset;
} div#container-social-items {
 height: 48px;
 transform-style: preserve-3d;
} div#header-container-links {
 height: 48px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 24px;
} div#header-container-menwai {
 height: 100%; display: flex;
 justify-content: space-between;
}




div#container-menu {  /* Menu Burger */

  width: 48px; height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
} div#ico-burger {
  width: 64%; height: 64%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30%;
} div#ico-burger > div {
  width: 100%; height: 10%;
  background-color: var(--red-padrao);
  border-radius: 3px;
}




div#container-waifu {  /* Waifu Perfil */

  width: 48px; height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000000d0;
  box-shadow: 0em 0em 8px #000000d0;
} div#container-waifu > a {
  width: 80%; height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.32s;
} img#ico-img-waifu {
  width: 100%; height: 100%;
} div#container-waifu > a:hover {
  width: 95%; height: 95%;
}




div#header-container-links { display: none; } /* Fazer */
div#header-container-links * { color: var(--red-padrao); }









:root {  /* Root Artes */

}
section#art-study {  /* Artes */
  width: 100%; height: 160px;
  margin-top: 1.5em;
  border-radius: 0.25em 1em 0.25em 1.75em;
  border: 1px solid #161616;
  overflow: hidden;
} section#art-study > div {
  width: 100%; height: 100%;
} section#art-study div#txt {  /* Div Texto */
  width: 6.4em; height: 100%;
  padding: 0.75em;
  padding-right: 0em;
  position: absolute;
  z-index: +5;
} section#art-study div#txt p ,
  section#art-study div#txt h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: #a1a1a1;
} section#art-study p {
  width: 10em;
  font-size: 0.8em;
  margin-left: 1.5em;
  margin-top: 0.75em;
} section#art-study div#img {  /* Div Imagem */
  width: 100%; height: 100%;
  background-image: url(../bg-artes.png);
  background-size: cover;
  box-shadow: inset 0em 0em 2em #000000;
} div#img > div#shadow {
  width: 100%; height: 100%;
  background-image:
  linear-gradient(
   90deg,
   #000000 00%,
   #00000080 calc(00% + 5em),
   #00000028 calc(00% + 10em),
   #00000000 );
  position: relative;
} div#img > div#shadow > div {
  width: 2em; height: 10em;
  margin-left: calc(100% - 2em);
  position: relative;
} div#shadow > div > div {
  box-sizing: border-box;
  width: 120px; height: 32px;
  position: absolute;
  left: 100%; top: 100%;
  transform: translateX(-49px) rotate(-90deg) translateY(-50%) translateX(65px);
  border-radius: 0em 1.75em 0em 0em;
  box-shadow: 0em 0em 0.25em #000000;
  background-color: #000000d5;
  border: 1px solid #161616;
} div#shadow > div > div > a {
  display: block;
  margin: 0.25em 2em;
  font-size: 14px;
  font-weight: lighter;
  white-space: nowrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif(--fontean);
  color: var(--red-padrao);
  animation: shine 1s infinite 0s;
} @keyframes shine
{ 00%{ text-shadow: 0em 0em 0.1em #800000a0;
} 50% { text-shadow: 0em 0em 0.1em #80000000;
} 100% { text-shadow: 0em 0em 0.1em #800000a0;
} }
















footer * {  /* Footer */
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 color: #b0b0b0;
} footer p {
 font-size: 0.8em;
 padding-left: 1.5vw;
} footer h4 {
 padding: 0.5em 0em;
} footer * img {
  display: inline-block;
  width: 0.7em; height: 0.7em;
}












@media screen and (orientation: landscape) {
  
}
