@charset "UTF-8";


header > h1 {
  flex-direction: row;
}


section#barra-social > div {
  flex-direction: row-reverse;
} div#container-linso {
  display: flex;
} section#barra-social > div > div > div#container-burge {
  display: none;
}



section#baarraa-social > div > div:nth-of-type(2) {

  min-width: 40%;
  max-width: calc(100% - 3em);
  display: flex;
} div > nav > ul {
  position: relative;
  padding: 0em 2vw;
  gap: 1vw;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: #000000d0;
  box-shadow: 0em 0em 8px #000000d0;
  border-radius: 24px;
  transform: none;
} div > nav > ul > li {

  margin: 0em;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
} ul > li > a {
  transition-duration: 0.25s;
  padding: 0.5vw 0vw;
  margin:  0em 1vw;

} ul > li > a:hover {
 border-left: 1.5px solid #880808e8;
 border-right: 1.5px solid #880808e8;
 border-radius: 10%;
 padding: 0.5vw 1vw;
 margin: 0em;
 text-shadow: 0em 0em 0.35em #880808e8;
}
div > nav > ul > li > a { font-size: 1em; }





















main > * {
  width: 85%;
} main > section > h2 {
  border-bottom: 2px solid var(--cor-grey-note-02);
}