@charset "UTF-8";

/* TELAS PEQUENAS */



:root {
  --barso-height: calc(48px + 1vw);
}


* {  /*  CSS Padrão Geral */
  padding: 0em; margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
} body, html {
  width: 100vw; height: 100vh;
  background-color: #050505;
  overflow-x: hidden;
} body {
  perspective: 10px;
  position: relative;
} body::-webkit-scrollbar {  /* Scroll Geral */
  width: 8px; background-color: #00000000;
} body::-webkit-scrollbar-thumb {  /* Mover Scroll */
  background-color: #050505; border: 1px solid #000000;
  border-radius: 4px;
} body::-webkit-scrollbar-track {  /* Fundo Scroll */
  width: 4px; background-color: #050505;
  border-radius: 4px; margin: 10px 0em;
} body::-webkit-scrollbar-track:hover {
  background-color: #200000;
}
















header {  /* Header, Main e Footer */

  width: 100%; height: calc(100vh - 10em);
  position: relative;
  transform-style: preserve-3d;
  z-index: -10;
} main {
  width: 100vw; height: 200em;
  position: relative;
  top: calc(0em - var(--barso-height));
  transform-style: preserve-3d;
  z-index: +5;
  border-top: 48px solid #050505;
  background-color: #050505;
} footer {
  width: 100%;
  padding: 1em 24px;
  padding-top: calc(48px + 2em);
  box-sizing: border-box;
  background-color: #050505;
 }














img#bg-night {  /* Header Fundo Shadow */
  width: 100%; height: 100%;
  position: absolute;
  left: 50%; top: calc(50% - 2.25em);
  transform: translate( -50% , -50% ) translateZ(-10px) scale(2.00001);
  object-fit: cover;
  z-index: -10;
} div#bg-shadow {  /* Header Efeito Shadow */
  width: 100%; height: 100%;
  box-shadow: inset 0em 0em 6.4em #050505;
  background-image:
  linear-gradient(
  180deg ,
  #000000 00% ,
  #00000000 20% ,
  #0000007f 65% ,
  #000000bc 75% ,
  #010101d5 80% ,
  #020202e5 85% ,
  #030303f5 90% ,
  #040404f5 95% ,
  #050505 100% );
}






section#header-titulo {  /* Zona LA */
  
  width: 100%; height: 100%;
  position: absolute;
  left: 50%; top: 50%;
  transform-style: preserve-3d;
  transform: translate(-50% , -50%);
} div#container-titu-lesro {
  width: 100%; height: 16vh;
  position: absolute;
  top: 20vh;
} div#titu-lesro {
  width: 90%;
  height: 100%;
  margin: auto;
} div#lesro {
  width: 32vh; height: 100%;
  position: relative;
} img#titu-la-img {
  width: 100%; height: 100%;
  position: absolute;
  transform: translateZ(-10px) scale(1);
  object-fit: fill;
}
















section#barra-social {  /* Container Social */

 width: 100%; height: 48px;
 position: sticky;
 transform-style: preserve-3d;
 top: 1vw;
 z-index: +10;
 display: unset;
} div#container-social-items {
 height: 48px;
 transform-style: preserve-3d;
} div#header-container-links {
 height: 48px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 24px;
} div#header-container-menwai {
 height: 100%; display: flex;
 justify-content: space-between;
}






div#container-menu {  /* Menu Burger */

  width: 48px; height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
} div#ico-burger {
  width: 64%; height: 64%;
  display: flex;
  flex-direction: column;
  gap: 20%;
} div#ico-burger > div {
  width: 100%; height: 20%;
  background-color: #140000;
  border-radius: 3px;
}


div#container-waifu {  /* Waifu Perfil */

  width: 48px; height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #000000d0;
  box-shadow: 0em 0em 8px #000000d0;
} div#container-waifu > a {
  width: 80%; height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.32s;
} img#ico-img-waifu {
  width: 100%; height: 100%;
} div#container-waifu > a:hover {
  width: 95%; height: 95%;
}


div#header-container-links { display: none; } /* Fazer */
div#header-container-links * { color: #800000; }




















footer * {
 font-family: 'Courier New', Courier, monospace;
 font-weight: bolder;
 color: #b0b0b0;
} footer p {
 font-size: 0.8em;
 padding-left: 1.5vw;
} footer h4 {
 padding: 0.5em 0em;
} footer * img {
  display: inline-block;
  width: 0.7em; height: 0.7em;
}












@media screen and (orientation: landscape) {
  
}
