@charset "UTF-8";


header {
  background-position: center center;
} header > h1 {
  flex-direction: row;
}


section#barra-social > div {
  flex-direction: row-reverse;
} div#container-linso {
  display: flex;
} section#barra-social > div > div > div#container-burge {
  display: none;
}



div > nav > ul {
  padding: 0em 1.5vw;
  gap: 0.1vw;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: var(--cor-bg-dark-01);
  box-shadow: 0em 0em 8px var(--cor-bg-dark-02);
  border-radius: 1.5em;
} div > nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
} ul > li > a {  /* Container li Link */
  border-radius: 0.1em / 1em;
  transition-duration: 0.25s;
  margin: 0em 1.5vw;

} ul > li > a:hover {
 border-left: 0.05em solid var(--default-color-red-01);
 border-right: 0.05em solid var(--default-color-red-01);
 margin: 0em;
 padding: 0.35em 1.5vw;
 text-shadow: 0em 0em 0.35em var(--default-color-red-02);
} div > nav > ul > li > a { font-size: 1em; }











main > * {
  width: 85%;
} main > section > h2 {
  border-bottom: 2px solid var(--default-color-grey-01);
} section#html-css-study {
  flex-direction: row;
} section#html-css-study > div {
  height: 12em;
}