@charset "UTF-8";



@font-face {

  font-family: "Angel";
  src: url("Angel.TTF");
}



:root {

  --color_00: transparent;
  --color_01-0: #000000;



  --back-ma: url("../background-madrugada.jpeg");

  

  --fontan: "Angel", sans-serif;
}





  /* formatação geral */
* { padding: 0em; margin: 0em; }
body {

  background: linear-gradient(
  90deg ,
  #050505 calc( 100vw - min( 12.35vw , 10.35em ) ) ,
  #640000 calc( 100vw - min( 12vw , 10em ) ) ,
  #050505 calc( 100vw - min( 11.65vw , 9.65em ) )
  );
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
}



/*
  background + background-size
  color > image > position > repeat > [size] > attachment
*/


  /* cabeçario */
header {

  background: #151515 var(--back-ma) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  height: 32em;
  box-shadow: inset 0em -0.1em 0.75em #050505;
}


  /* cabeçario > título */
header > h1 {

  transform: translate( -100% , -100% );

  font-family: var(--fontan);
  font-weight: lighter;
  font-size: 5em;
  white-space: nowrap;


  position: absolute;
  color: #320000;
  text-shadow: 0em 0em 0.1em #2828284e;
  left: 95%;
  top: 86%;
}


  /* cabeçario > links */
header > nav {
  
  background-image: linear-gradient( 75deg, transparent 12% , var(--color_01-0) 12.1% );
  position: absolute;

  width: 100%;
  height: 3.5em;
  top: 92.5%;

  padding: 1em 0em;
  text-align: right;
  height: auto;  
  width: 100%;
} header > nav > a {

  transition-duration: 0.18s;

  background-color: #080808;
  box-shadow: inset 0em 0em 0.32em #2e0e0e3e;
  border-radius: 0.16em;
  color: #6e0000;
  text-decoration: none;  
  font-size: 1.25em;
  padding: 0.32em 0.6em;
  margin-right: 1.2em;
} header > nav > a:hover {

  color: #840000;
  background-color: #151515;
  text-shadow: 0em 0em 0.35em var(--color_01-0);
}






/* main */
main {

  padding-top: 1.5em;
  height: 100em;
}

main > section {

  height: 24em;
  ;
}

main > section > div {

  display: flex;
}

section > div.line {

  max-width: 10%;
  width: 1em;
}