@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@font-face {
  font-family: "Angel";
  src: url("../Angel.TTF");
}

/* Colocar cogus no título. */

/* TELAS PEQUENAS */



:root {

  --social-element-size: 3em;




  --transition-time-01: 0.15s;




  --hover-color-01: #ffffff44;
  --hover-color-02: #ffffff22;
  --hover-color-03: #ffffff08;
  --default-color-grey-01: #606060;
  --default-color-grey-02: #60606060;
  --default-color-red-01: #f00000;
  --default-color-red-02: #f0000088;

  --color-darkest-black-01: #000000;
  --color-darkest-black-02: #000000f0;
  --color-darkest-black-03: #000000c0;
  --color-darkest-black-04: #00000080;
  --color-dark-black-01: #050505;
  --color-dark-black-02: #05050580;
  --color-dark-black-05: #05050528;
  --color-medium-black-01: #161616;
  --color-medium-black-02: #16161680;
  --color-medium-black-03: #16161660;
  --color-light-black-01: #222222;
  --color-light-black-02: #22222288;
  --color-light-black-03: #22222244;
  --color-darkest-grey-01: #282828;
  --color-dark-grey-01: #2f2f2f;
  --color-dark-grey-02: #2f2f2f80;
  --color-medium-grey-01: #484848;
  --color-medium-grey-02: #48484880;
  --color-medium-grey-03: #48484844;
  --color-light-grey-01: #b0b0b0;
  --color-light-grey-02: #b0b0b080;
  --color-lighter-white-01: #ffffff;
  --color-lighter-white-02: #ffffffd0;

  --school-color-study-01: #ff8800;
  --school-color-study-02: #ff8800b0;
  --python-color-study-01: #ffcc00;
  --python-color-study-02: #ffcc0080;
  --design-color-study-01: #8800bb;
  --design-color-study-02: #8800bbb0;
  --html-color-study-01: #4444ff;
  --html-color-study-02: #4444ff80;
  --art-color-study-01: #ff4400;
  --art-color-study-02: #ff440080;
  --cpp-color-study-01: #00ffee;
  --cpp-color-study-02: #00ffeeb0;
  --css-color-study-01: #ff00ff;
  --css-color-study-02: #ff00ff80;
  --cps-color-study-01: #ff5500;
  --cps-color-study-02: #ff550080;
  --js-color-study-01: #ffee40;
  --js-color-study-02: #ffee4080;



  --lateral-dark-gradient-effect-01:
   linear-gradient(
   90deg ,
   #000000e0 ,
   transparent ,
   #000000e0
  );

  --bg-main-gradient-effect-01:
   linear-gradient(
   180deg,
   #09090d 0em ,
   #050505 20vh ,
   #030303 40vh ,
   #020202 60vh
  );

  --bg-main-gradient-effect-02:
   linear-gradient(
   180deg,
   #09090d 0em ,
   #050505 20vh ,
   #030303 40vh ,
   #020202 60vh
  );


  --bg-study-gradient-effect-01:
   linear-gradient(
   160deg ,
   #000000 00%,
   #000000ee 20%,
   #000000cc 40%,
   #000000aa 60%,
   #00000066 80%,
   transparent
  );


  --bg-study-gradient-effect-02:
   linear-gradient(
   130deg ,
   #000000ee 00%,
   #000000aa 20%,
   #00000088 40%,
   #00000066 60%,
   #00000044 80%,
   transparent
  );



  --fonte-animatic: 'Amatic SC', cursive;
  --font-apple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-angel: "Angel", sans-serif;
  --font-lesro-01: 'Cinzel', serif;

}



div#container-linso.openBurge {
  display: flex;
}





















* {  /* CSS Padrão Geral */
  padding: 0em; margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
} body, html {
  width: 100vw; height: 100vh;
  margin: auto;
  perspective: 10px;
  overflow-x: hidden;
  background-color: var(--color-dark-black-01);
} body {
  position: relative;
} body * {
  color: var(--color-light-grey-02);
  font-family: var(--font-apple);
  font-weight: lighter;
}


body::-webkit-scrollbar {  /* Scroll Space */
  background-color: var(--color-darkest-black-01); width: 0.5em;
} body::-webkit-scrollbar-track {  /* Fundo Scroll */
  border-radius: 0.25em; border: 2px solid var(--color-darkest-black-01);
  margin: 0.25em 0em;
} body::-webkit-scrollbar-track:hover {
  background: var(--color-medium-black-01);
} body::-webkit-scrollbar-thumb {  /* Mover Scroll */
  border: 1px solid var(--color-darkest-black-01); border-radius: 0.25em;
  background-color: var(--color-medium-black-01);
} body::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey-01);
}





















header {  /* Header -------------------------------------------------------------------------------------------------------------------- */
  height: 12em;
  background: url("../bg-night.jpg") center center no-repeat;
  background-size: cover;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} header div {
  position: absolute;
  width: 100%; height: 100%;
  bottom: 0em;
  background-image: var(--lateral-dark-gradient-effect-01);
  box-shadow: inset 0em 0em 2.5em var(--color-darkest-black-01);
}





















div#social-bar {  /* Main Barra Social ------------------------------------------------------------------------------------------------- */
  width: 100%;
  position: sticky;
  top: 0em;
  z-index: +10;
  margin: 0em auto;
  border-top: 2px solid #100000;
  border-bottom: 2px solid #100000;
} div#social-bar * {
  display: flex;
  justify-content: center;
  align-items: center;
} div#bg-social-bar {  /* Background Barra Social */
  margin: auto;
  padding: 0.35em;
  justify-content: space-between;
  background-color: var(--color-darkest-black-03);
  box-shadow: 0em 0.5em 1.25em var(--color-darkest-black-03);
} div#bg-social-bar > div {  /* Barra Social Containers */
  position: relative;
} div#bg-social-bar > div > div {
  height: var(--social-element-size);
  border: 1.5px solid var(--color-medium-black-02);
  border-radius: var(--social-element-size);
} div.container-icon {  /* Barra Social Icons */
  width: var(--social-element-size);
  transition-duration: var(--transition-time-01);
} div.container-icon * {
  width: 100%;
  height: 100%;
  transition-duration: var(--transition-time-01);
} div.container-icon:hover {  /* Social Icons Hover */
  background-color: var(--color-darkes-black-02);
  box-shadow: inset 0em 0em 0.8em var(--hover-color-03);
} div.container-icon:hover > * {
  width: 90%; height: 90%;
}








div#container-burge { display: flex; }
div#container-linso { display: none; }
div#container-notes { display: none; }








div#container-burge > div > div {  /* Menu Burge */
  width: 64%; height: 64%;
  justify-content: space-around;
  flex-direction: column;
} div#container-burge > div > div * {
  width: 85%; height: 0.1em;
  background-color: var(--default-color-red-01);
}








div#social-bar div#container-linso {  /* ⚪ Links Sociais */
  border: 1px solid var(--color-dark-grey-02);
  overflow: hidden;
} div#container-linso ul * {
  height: var(--social-element-size);
  transition-duration: 0.25s;
} nav > ul {
  background-color: var(--color-light-black-03);
  flex-direction: column;
} nav > ul > li {
  box-sizing: border-box;
  padding: 0em 0.8em;
} div#container-linso a {
  font-size: 1.3em;
  font-weight: normal;
  color: var(--color-light-grey-02);
  height: fit-content;
  transform: translateY(-0.1em);
} nav > ul > li:hover {  /* Hover Social Nav Content */
  box-shadow: inset 0em 0em 0.8em var(--color-darkest-black-01);
} div#container-linso li:hover a {
  color: var(--color-lighter-white-02);
  text-shadow: 0em 0em 0.25em var(--color-darkest-black-01);
}





















main {  /* Main ------------------------------------------------------------------------------------------------------------------------ */
  padding-bottom: 2.5em;
  min-height: 100em;
  transform-style: preserve-3d;
  z-index: +5;
  background: var(--bg-main-gradient-effect-01);
} main > * {
  width: calc(100% - 2.5em);
  margin: 3.5em auto;
}








section#apres {
  color: var(--color-light-grey-02);
  font-size: calc(1em + 0.2vw);
} section#apres * {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} section#apres > div {
  width: 95%;
  max-width: 60em;
  border-radius: 0.25em;
  padding: 2.4em 0em;
  gap: 1em;
} section#apres > div > div:nth-of-type(2) {
  width: 75%;
} section#apres > div > div:nth-of-type(1) {
  width: 50%;
} section#apres img {
  width: 100%;
}








div#study * {
  transition-duration: var(--transition-time-01);
} div#bg-study {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  box-shadow: 0em 0em 1.2em var(--color-darkest-black-03);
  border-left: 1.5px solid var(--color-medium-black-03);
  border-right: 1.5px solid var(--color-medium-black-03);
  overflow: hidden;
} div#bg-study div {
  width: 100%; height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
} div#bg-study > div:nth-of-type(1) {
  background-color: var(--color-darkest-black-02);
  border-bottom: 1px solid var(--color-medium-black-02);
} div#bg-study > div:nth-of-type(2) {
  height: 16em;
} div#bg-study > div:nth-of-type(2) > div:nth-of-type(2) {
  transition-duration: var(--transition-time-01);
  background-image: var(--bg-study-gradient-effect-01);
  box-shadow: inset 0em 0em 3.5em var(--color-darkest-black-02);
  position: absolute;
  bottom: 0em;
  display: block;
} div#bg-study h1
, div#bg-study p {
  margin: 0.15em 0.7em;
} div#bg-study img {
  width: 100%; height: 100%;
  object-fit: cover;
} div#bg-study a {
  background-color: var(--color-dark-black-01);
  margin: 0.35em;
  font-size: 1.35em;
  padding: 0.2em 1em;
  border: 1.5px solid var(--color-dark-grey-01);
  border-radius: 0.7em;
  position: absolute;
  bottom: 0em; right: 0em;
} div#bg-study a:hover {
  background-color: var(--color-medium-black-01);
  box-shadow: inset 0em 0em 0.8em var(--color-darkest-black-02);
} div#bg-study p {
  margin: min(2.5vw , 1.5em) 0em 0em min(2.5vw , 1.5em);
}



div#bg-study div:nth-of-type(1) a { display: none; }
div#bg-study div:nth-of-type(2) a { display: block; }





















footer {  /* footer -------------------------------------------------------------------------------------------------------------------- */
  background-color:  var(--color-light-black-03);
  min-height: 8em;
} footer * {
  color: var(--color-lighter-white-02);
}





















@media screen and (max-width: 600px) {  /* sub 600px ----------------------------------------------------------------------------------- */


div#container-linso.openBurge { /* Bar Social Links */
  padding: 0.2em;
  width: 8.5em;
  position: absolute;
  right: calc(100% + 0.5em); top: 0em;
  height: fit-content;
  border-radius: 0.75em;
} div#container-linso.openBurge * {
  width: 100%;
} div#container-linso.openBurge ul {
  background-color: var(--color-dark-black-05);
  gap: 0.15em;
} div#container-linso.openBurge li {
  border-radius: 0.45em;
  width: 100%;
} nav > ul > li:hover {  /* Hover Social Nav Content */
  box-shadow: inset 0em 0em 0.8em var(--hover-color-02);
}




}