@charset "UTF-8";





/* Header ------------------------------------------------------------------------------------------------------------------------------ */

header {
  height: 20em;
} header h1 {
  font-size: 3.5em;
}












div#social-bar {  /* Barra Social ------------------------------------------------------------------------------------------------------ */
  max-width: 100%;
  margin: 2.5em auto;
  border: none;
  top: 1em;
} div#bg-social-bar {
  width: calc(100% - 2em);
  max-width: 75em;
  padding: 0.1em;
  border-radius: var(--social-element-size);
}




div#container-burge { display: none; }
div#container-linso { display: flex; }




nav > ul > li:nth-of-type(1) {
  padding-left: 1.3em;
  border-top-left-radius: var(--social-element-size);
  border-bottom-left-radius: var(--social-element-size);
} nav > ul > li:nth-last-of-type(1) {
  padding-right: 1.3em;
  border-top-right-radius: var(--social-element-size);
  border-bottom-right-radius: var(--social-element-size);
} nav > ul {
  flex-direction: row;
} div#container-linso a {
  font-size: 1em;
}












main { /* Main ------------------------------------------------------------------------------------------------------------------------- */
  border-top: 2px solid #100000;
  background: var(--bg-main-gradient-effect-02);
} main > * {
  width: 95%;
  max-width: 60em;
}







section#apres * {
  margin: 0.35em;
  text-align: left;
} section#apres > div {
  background-color: var(--color-darkest-black-03);
  box-shadow: 0em 0em 0.5em var(--color-darkest-black-03);
  flex-direction: row;
} section#apres > div > div:nth-of-type(1) {
  max-width: 16em;
} section#apres > div > div:nth-of-type(2) {
  max-width: 18em;
}








div#bg-study {
  gap: 0.8em;
  border: none;
  box-shadow: none;
  flex-direction: column-reverse;
} div#study > div#bg-study > div {
  border-radius: 1em;
  box-sizing: border-box;
  border-left: 1.5px solid var(--color-medium-black-02);
  border-right: 1.5px solid var(--color-medium-black-02);
} div#bg-study > div:nth-of-type(2) > div:nth-of-type(2) {
  background-image: var(--bg-study-gradient-effect-02);
} div#bg-study > div:nth-of-type(2) {
  overflow: hidden;
}



div#bg-study div:nth-of-type(1) a { display: block; }
div#bg-study div:nth-of-type(2) a { display: none; }










footer > * { /* Footer ------------------------------------------------------------------------------------------------------------------------------ */
  width: 85%;
  max-width: 75em;
  margin: auto;
} div#notes {
  grid-template-columns: repeat( 3, 1fr);
}